*{
    text-decoration: none;
    color: white;
}
nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    letter-spacing: 4px;
    min-height: 80vh;
}
.btn-list {
    width: 300px;
    height: 80px;
    border-radius: 30px;
    background-color: #990000;
    font-size: 2rem;
}
.btn-create {
    width: 300px;
    height: 80px;
    border-radius: 30px;
    background-color: #990000;
    font-size: 2rem;
}