.center-box {
    margin: auto;
    width: 1124px;
    padding:10px;
}
.center-box ul {
    float:left;
}
.center-box img {
    float:left;
}
.movie-info-field {
    width: 178px;
    height: 260px;
    background-color: #990000;
    position: relative;
    padding: 1px;
    font-size: 13px;
    color: whitesmoke;
    text-align: left;
}

.title {
    text-align:center
}
.movie-grid {
    width:180px;
    height:260px;
}
.movie-button {
    position:absolute;
    bottom: 5px;
    right: 60px;
}