<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head.html(currentPage='KinoXP', customCSS='frontpage.css')"></head>
<header th:replace="fragments/header.html"></header>
<body>
<nav>

    <a href="/create-movie-page">
        <button class="btn-create">Opret film</button>
    </a>

    <a href="/customers">
        <button class="btn-list">Vis oversigt over kunder</button>
    </a>

    <a href="/movies">
        <button class="btn-list">Vis oversigt over film</button>
    </a>

</nav>
</body>
<footer th:replace="fragments/footer.html"></footer>
</html>