<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html(currentPage='Seats', customCSS='seats.css')"></head>
<body>
<header th:replace="fragments/header.html"></header>

<div class="movie-container">

    <ul class="showcase">
        <li>
            <div class="seat"></div>
            <small>Available</small>
        </li>
        <li>
            <div class="seat selected"></div>
            <small>Selected</small>
        </li>
        <li>
            <div class="seat occupied"></div>
            <small>Occupied</small>
        </li>
    </ul>
    <span class="cinema" hidden th:text="${screening.cinemas_idcinemahall}"></span>
    <div class="container">
        <div class="screen"></div>

    </div>
</div>
<!-- //todo add endpoint -->
<form method="post" action="/customer">
    <label>Selected seats:</label>
    <div id="selected-seats">

    </div>
    <button type="submit" name="screening" th:value="${screening.idscreening}">Reserver</button>
</form>


<footer th:replace="fragments/footer.html"></footer>
</body>
<script th:inline="javascript">let list = [[${seats}]]</script>
<script type="text/javascript" th:src="@{/seats.js}"></script>
</html>