<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/head.html(currentPage='Edit Movie', customCSS='/edit-movie.css')"></head>
<header th:replace="fragments/header.html"></header>

<body>
<!-- thymeleaf model from controller-->

<section>
    <form action="/editMovie" method="post">
        <div class="container">

            <input type="hidden" name="Idmovies" th:value="${movie.getIdmovies}">

            <div class="movie-picture">
                <img th:src="${movie.getMovieposter}"/>
                <input type="text" name="movieposter" th:value="${movie.getMovieposter}">
            </div>

            <div class="movie-information">
                <div class="movie-titel">
                    <h1><input type="text" name="title" th:value="${movie.getTitle}"></h1>
                    <i class="fas fa-pencil-alt"></i>
                    </a>
                </div>
                <div class="movie-grid">
                    <div class="movie-price">
                        <h2>Pris:</h2>
                        <input type="number" name="price" th:value="${movie.getPrice}">
                    </div>

                    <div class="movie-age">
                        <h2>Filmcensur:</h2>
                            <label for="age">
                                <select id="age" name="age" th:value="${movie.getAge}">
                                    <option name="age" label="Tilladt for alle">Tilladt for alle</option>
                                    <option name="age" label="Frarådes børn under 7 år">Frarådes børn under 7 år</option>
                                    <option name="age" label="Tilladt for børn fra 11 år">Tilladt for børn fra 11 år</option>
                                    <option name="age" label="Tilladt for børn fra 15 år">Tilladt for børn fra 15 år</option>
                                </select>
                            </label>
                    </div>

                    <div class="movie-length">
                        <h2>Varighed:</h2>
                        <input type="number" name="length" th:value="${movie.getLength}">
                    </div>

                    <div class="movie-genre">
                        <h2>Genre:</h2>
                        <input type="text" name="genre" th:value="${movie.getGenre}">
                    </div>

                    <div class="movie-actors">
                        <h2>Skuespillere:</h2>
                        <input type="text" name="actors" th:value="${movie.getActors}">
                    </div>

                </div>

                <div class="movie-description">
                    <h2>Info:</h2>
                    <input type="text" name="description" th:value="${movie.getDescription}">
                </div>
                <button type="submit">Opdatere</button>
            </div>
        </div>
    </form>
    <form action="/deleteMovie" method="post">
        <input type="hidden" name="Idmovies" th:value="${movie.getIdmovies}">
        <button style="bottom;" type="submit">Delete Movie?</button>
    </form>

</section>
</body>
<footer th:replace="fragments/footer.html"></footer>
</html>