<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head.html(currentPage='Movie List', customCSS='/movielist.css')"></head>
<header th:replace="fragments/header.html"></header>

<div class="center-box">
    <h1 style="text-align: center; color:whitesmoke">Film oversigt</h1>
    <ul th:if="${movies.empty}">
        <li colspan="2"> Ingen film tilgængelig </li>
    </ul>
    <ul th:each="singleMovie : ${movies}">
        <div class="movie-grid"> <!-- //todo styles i css -->
            <a style="float:left;" th:href="@{'/movies/'+${singleMovie.idmovies}}">
                <img class="poster" alt="No Poster Found" width="180" height="260" th:src="${singleMovie.movieposter}"/>
            </a>
        </div>
        <div class="movie-info-field">
            <form th:action="@{'/movies/'+${singleMovie.idmovies}}">
                <h3 class="title" th:text="${singleMovie.title}"/>
                <b th:text="'Varighed: '"/><span th:text="${singleMovie.length}"/><span> min.</span><br/>
                <b th:text="'Genre: '"/><span th:text="${singleMovie.genre}"/><br/>
                <b th:text="'Beskrivelse: '"/><span th:text="${singleMovie.description}"/><br/>
                <button class="movie-button" type="submit">Film Info</button>
            </form>
        </div>

    </ul>
</div>
</body>
<footer th:replace="fragments/footer.html"></footer>
</html>