<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <!-- GLOBAL !-->
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/stylesheets/global.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- CUSTOM !-->
    <title th:text="${currentPage}"></title>
    <link rel="stylesheet" th:href="@{'/stylesheets/' + ${customCSS}}">

</head>
</html>