<header class="header">
    <h1 class="logo"><a href="/">KinoXP<img alt=" " width="30px" height="30px" src="https://icon-library.com/images/movie-icon/movie-icon-26.jpg"/> </a></h1>
    <ul class="main-nav">
        <ul><a href="/products">Alle produkter</a> </ul>
        <ul><a href="/create-movie-page">Ny Film</a></ul>
        <ul><a href="/movies">Film Oversigt</a></ul>
        <ul><a href="/searchMovie">Søg på film</a></ul>
    </ul>
    <p th:text="${employee}"></p>
    <button class="edit-btn">Edit</button>
    <form id="inputTK" th:action="@{/addEmployee}" method="post">
        <input type="text" class="employeeInput" name="employeename"/>
    </form>
</header>

<script>
    let input = document.getElementById("inputTK");
    let button = document.querySelector(".edit-btn");
    button.addEventListener('click', () => {
        input.classList.toggle("visible");
    })
</script>

