<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/head.html(currentPage='create-movie-fragment',
customCSS='create-customer.css')"></head>
<body>
<header th:replace="fragments/header.html"></header>
<h2 id="customerTITEL">Kundens oplysninger</h2>

<form th:action="@{/create-customer}" id="customerFORM" method="POST">
    <input type="text" placeholder="Fornavn" name="firstname"/>
    <input type="text" placeholder="Efternavn" name="lastname"/>
    <input type="tel" id="phone"
           pattern="[0-9]{8}"
           required placeholder="Telefonnummer" name="phonenumber"/>
    <input type="email" placeholder="Email" name="email">
    <input type="number" style="display: none" th:value=${screening} name="screeningID"/>
    <input type="text" style="display: none" th:value=${seats} name="seats"/>
    <button type="submit" id="customerBTN">Send</button>

</form>

</body>
<footer th:replace="fragments/footer.html"></footer>
</html>